{% extends 'base.html' %}

{% block content %}



{% if user.is_authenticated %}


<head>
    <title>Super Cool and Good Recipes</title>
</head>
<body>
    <!--Make this look better l8r-->
    {% if user.is_authenticated %}
    <p>Logged in as: {{ user.username }}!</p>
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    {% else %}
        <p>You are not logged in.</p>
    {% endif %}
    <h1>Home of the best recipes!</h1>
    <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
    <p><a href="/login/">Login</a></p>
    <p><a href="/admin/">Admin</a></p>
    <p><a href="/add-recipe/">Add a recipe!</a></p>
    <p><a href="/recipe-view/">View recipes!</a></p>
    <p><a href="{% url 'ingredient_page' %}">View All Ingredients</a></p>

</body>





{% else %}

<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br/>

<form method="POST" action="{% url 'home' %}">
	{% csrf_token %}

  <div class="mb-3">
    <input type="text" class="form-control" name="username", placeholder="Username" required>
    
  </div><br/>
  <div class="mb-3">
    <input type="password" class="form-control" name="password", placeholder="Password" required>
  </div>
  <br/>
  <button type="submit" class="btn btn-secondary">Login</button>

</form>



{% endif %}

{% endblock %}