{% extends 'base.html' %}

{% block content %}

<head>
    <title>Super Cool and Good Recipes</title>
</head>
<body>
    <!--Make this look better l8r-->
    {% if user.is_authenticated %}
    <p>Logged in as: {{ user.username }}!</p>
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    {% else %}
        <p>You are not logged in.</p>
    {% endif %}
    <h1>Home of the best recipes!</h1>
    <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
    <p><a href="/login/">Login</a></p>
    {% if user.is_staff %}
    <p><a href="/admin/">Admin</a></p>
    {% endif %}
    <p><a href="/add-recipe/">Add a recipe!</a></p>
    <p><a href="/recipe-view/">View recipes!</a></p>
    <p><a href="{% url 'ingredient_page' %}">View All Ingredients</a></p>
    <p><a href="{% url 'add_ingredient' %}">Add an ingredient</a></p>

</body>

{% endblock %}